*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.navlinks{
    margin-right: 100.23px;
    gap:22.5px;
}
.hero-section{
    background-color: gainsboro;
}
nav{
    padding: 2% 2%;


    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.man-image{
    height:auto;

}
.Description{
    align-self: stretch; text-align: center; color: #717171; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 16.71px; word-wrap: break-word;
    margin-top: 20px;
}

.Third-sec{
    width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 5.57px; display: inline-flex"
}
.SectionTitle{
  
     text-align: center;
      color: #4D4D4D;
       font-size: 25.06px; font-family: Inter; 
    font-weight: 600; 

     word-wrap: break-word;
     padding-top:50px;
}
.Flex-row{
    display: flex;
    justify-content: center;
    margin: auto;
}
.container-lg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Flex-row img{
padding-left: 100px;
padding-right: 70px;
}






.second-Container{
    padding: 60px 0;
    text-align: center;
}
.container-lg{
    padding-top: 50px;
}
.left-content2{
    margin: 0 80px;
}
.right-content2{
}
.left-content2{
    flex-basis: auto;

 

}
.left-content2 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-sizing: border-box;


}
@media(max-width:700px){
    .grid-container{
     flex-direction: column;
     padding: 0 20px;
    }
}

.grid-container{
    display: flex;
    padding: 100px 0;

justify-content: center;
}








@media(max-width:700px){
    .Flex-row{
        flex-direction: column;
    }
    .right-content2{
    margin-right: 50px;
    }
}
.second-Container h2{
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 27px;
}
.second-Container p{
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Inter','sans-serif';
    font-size: 18px;
    margin-top: 17px;
}
.left-content{
    flex-basis:60%;
padding-left: 80px;
}
.right-content{
    padding-right: 80px;
}
h1{
    line-height: 1.4;
}
.container p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.navlinks ul li{
    

color:#4CAF4F;
cursor:pointer;
transition:0.2s;
font-family: sans-serif;

    display:inline-block;
    margin:16px;
}
nav button{
    background-color:#4CAF4F;
    color:white;
    padding: 12px 34px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.navlinks  ul li:after{
    content:'';
    left:0;
    width:0%;
transition:0.4s;
    background-color:#4CAF4F;
    display: block;

}
.navlinks ul li:hover:after{
    width:100%;
}
@media(max-width:700px){
    .container{
        font-size: 20px;
        flex-direction: column;
        padding:0 20px;

    }
    .navlinks{
        display: none;
    }
    .right-content{
        margin-bottom: 70px;
    }
}
.container h1{
    font-size: 50px;
}
.hero-section{
    padding: 100px 0;
}
.right-content img{
    width: 100%;
    object-fit: cover;
}
span{
    color:#4CAF4F;
}
h1{
    font-family:inter;
}
.container button{
    margin-top:10px;
    background-color:#4CAF4F;
    padding: 12px 20px;
    color:white;
    font-size: 17px;
    border:none;
    border-radius: 5px;
}
nav img{
    margin-left:100.24px;
}
.container{
    display:flex;
    
    justify-content: space-between;
    align-items: center;

}